* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  color: #343a40;
}

.container {
  margin: 300px auto;
  width: 1200px;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.accordion {
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
}

.item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 32px;

  border-top: 4px solid #099268;
  padding: 20px;
}

.number {
  font-size: 24px;
  font-weight: 500;
  color: #868e96;
}

.title {
  font-size: 24px;
  font-weight: 500;
}

.icon {
  font-size: 20px;
  stroke: #099268;
  height: 28px;
  width: 28px;
}

.hidden-box {
  grid-column: 2/ 3;
  display: none;
}

.text {
  margin-bottom: 24px;
  line-height: 1.6;
}

.lists {
  margin-left: 20px;
}

.lists li {
  margin-bottom: 15px;
  color: #868e96;
}

/* Active accordion item */
.active .title,
.active .number {
  color: #099268;
}

.active .hidden-box {
  display: block;
}
